@page
@model ReversiRestApi.Pages.SpelMetJavaScriptModel
@{
    ViewData["Title"] = "SpelMetJavaScript";
    <script type="text/javascript" src="@Url.Content("app.js")"></script>
}

<h1>SpelMetJavaScript</h1>

